<h1>Chat en Vivo</h1>

<div class="chat-container">
    <div class="chat-messages">
        <!-- Aquí se mostrarán los mensajes del chat -->
    </div>
    
    <div class="chat-input">
        <input type="text" id="userInput" placeholder="Nombre de usuario">
        <input type="text" id="messageInput" placeholder="Escribe un mensaje">
        <button id="sendMsg">Enviar</button>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/chat.js"></script>


