<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Bienvenid@ {{userName}}</h1>
                    <p class="card-text">Tu correo: {{userEmail}}</p>
                    <p class="card-text">Tu rol: {{userRole}}</p>
                    <a href="/api/sessions/logout" class="btn btn-danger">Cerrar sesión</a>
                </div>
            </div>
        </div>
    </div>
</div>