button {
    background-color: #003566; 
    color: white;
    padding: 15px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 48%; 
    flex: 1; 
    padding: 10px;
}

.column input {
    width: 100%;
}

.center {
    text-align: center;
}

.form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.form input[type="text"],
.form input[type="number"] {
    width: auto;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form button {
    background-color: #003566;
    color: white;
    padding: 15px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form button:hover {
    background-color: #001D3D; 
}

h2{
    text-align: center;
    font-size: 2.5rem;
}

ul.products {
    border: 1px solid #000814; 
    padding: 10px; 
    border-radius: 5px;
}


ul.products li {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    border-bottom: 1px solid #000814; 
    padding: 10px 0; 
    font-size: 1.2rem;
}
